body{
	font-family: "Open+Sans+Condensed", serif;
	background-color: rgb(238,238,238);
  margin: 0px
  padding:0px;
}

a{
  color: white;
}

a:hover{
  color: white;
}



#circle {
  width: 300px;
  height: 260px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 50%;
  background-image: url("/app/images/home1.jpg");
  background-size: 100% 100%;
}

.intro-text{
  font-family: "Vollkorn", "PT Mono", serif;
  font-style: italic;
}

.video-div{
  position: relative;
}

video{
  width: 100%;
  height: auto;
  max-height: 100%;
}

#school{
  color: #ff6666;
}

.github-link{
  color: #80ccff;
}

.box{
  height: 350px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.box:hover{
  transform: scale(1.15,1.15);
}

#box1{
  background-image: url("../images/project1.png");
}

#box2{
  background-image: url("../images/project2.png");
}

#box4{
  background-image: url("../images/project4.png");
}



.portfolio-div{
  font-family: "Ubuntu", "Roboto", sans-serif;
  background-color: rgb(51,64,85);
  margin: 0px;
  display: flex;
  color: white;
}


.introduction-div{
 	background-color: white;
  padding: 20px 10px 10px 20px
 }


.home-screen{
  margin-top: -30px;
	background-repeat: no-repeat;
	height: 100vh;
	background-size: 100%;
  
  position: relative;

}

.main-text{
  font-size: 1.4em;
  font-family: "Ubuntu", serif
}

 .jumbotron-content {
    text-align: center;
   
  }

.resume-button{
  border-style: solid;
  border-color: #00a3cc;
  color: #00a3cc;
}

.main-body{
  background-color: white;
}

.footer{
  
  background-color: rgb(253,205,59);
  height: 200px;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  
}


.contact{
  background-color: rgb(238,239,229);
  height: 100%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}

.footer-text{
  font-family: "Delicious", serif;
  font-size:1.5em;
}

.hover_icons a{
  margin-left: 20px;
  color: black;
}

.hover_icons a:hover{
 font-size: 12px;
}

.form-group{
  width: 50%;
}

.send-email-button{
  display: inline-block;
  height: auto;
  font-size: 1.5em;
  width: 15em;
  line-height: 4.0rem;
  border-radius: 5em;
  color: #2A3A3F;
  border: 2px solid #2A3A3F;
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgb(238,239,229);
}

.email-button{
  color: rgb(116,158,241);
}


.gallery {
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  display: inline-block;

}

.gallery > div > img {
  display: block;
  width: 170px;
  height: 120px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.5,1.5);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.instagram_title{
  font-family: "Pacifico", "Roboto", Helvetica, Arial, sans-serif;
  color: black;
}


.project-intro-text{
  font-family: "Vollkorn", "PT Mono", serif;
  font-style: italic;
  font-size: 1.3em;
}
.project-title{
  text-align: center;
  color: white;
  font-size: 1.4em;
}

.project-text{
  font-size: 1.2em;
}
