
<video muted autoplay loop class="fullscreen-bg__video">
 <source ng-src="/app/home_video/vid.mp4" type="video/mp4">
</video>


		<!-- <div class="jumbotron-content">
	  	 <h2>Rashul Rajbhandari</h2>
				<p class="hover_icons">
					<a href="https://medium.com/@rashul_cfc" target= "_blank" class="link"><i class="fa fa-linkedin fa-2x m-left"></i></a>
					<a href="https://www.facebook.com/Chelsealover.Rashul" target= "_blank" class="link"><i class="fa fa-facebook-official fa-2x m-left"></i></a>
					<a href="https://github.com/Raashul" target= "_blank" class="link"><i class="fa fa-github fa-2x m-left"></i></a>
					<a href="https://twitter.com/Rashul_Cfc" target= "_blank" class="link"><i class="fa fa-twitter fa-2x m-left" ></i></a>
					<a href="https://medium.com/@rashul_cfc" target= "_blank" class="link"><i class="fa fa-medium fa-2x m-left"></i></a>
					<a href="https://medium.com/@rashul_cfc" target= "_blank" class="link"><i class="fa fa-linkedin fa-2x m-left"></i></a>
			</p>
		</div> -->

<hr>

<div class="main-body">
	
		<div class="introduction-div">
			<center><h2><strong>Introduction </strong><h2></center>
			<p class="intro-text">
				In 2011, I took my first HTML and CSS class. It has been a romance ever since. <br> <br>
				I am currently a rising junior at Caldwell University, NJ. I like build things that really connect with me. Although I've mostly worked with web development, I am a blank page, ready to learn anything that entices me. <br>
				Right now, I am learning web development with React and Nodejs. I am also inclining towards Machine Learning and mobile development with React Native. 
				<br>
				<br>
				I am a foodie and an avid Chelsea FC supporter. 
				<center>
				<a ng-href="app/pdf/Resume.pdf" target="_blank" class="btn btn-default btn-lg resume-button">	<i class="fa fa-file-pdf-o" aria-hidden="true"></i> Resume</a>


				</center>
			</p> 

			<hr>

			<center>
			<div class="gallery cf">
			  
			  <div>
			    <img src="/app/images/img2.JPG" />
			  </div>
			  <div>
			    <img src="/app/images/img3.JPG" />
			  </div>
			  <div>
			    <img src="/app/images/img1.JPG" />
			  </div>
			  <div>
			    <img src="/app/images/img4.jpg" />
			  </div>

			  <a href="https://www.instagram.com/raashul_rajbhandari/" class="instagram_title" target="_blank"><h2 >Follow my life one picture at a time on  <i class="fa fa-instagram fa-1x" aria-hidden="true"></i> </h2> </a>
			  
			</div>

			</center>

	</div>


<div class="portfolio-div"> 
	<div class="container">
			<div class="row">
				<center>
					<h2>Personal Projects </h2>
					<p class="lead">I like to keep myself busy when I'm free </p>
				</center>

				<div class="row">
			  <div class="col-md-4">
			  	<a href="https://github.com/Raashul/Bookstore" target="_blank">
			  	<div class="box" id="box1">
			  	</div>
			  	<p class="project-title">Personal Bookstore</p>
			  	</a>

			  	<br> <br>
			  	<p>A web application that provides a platform to sell/buy books for students that are in the same school. This project initially targetted only Caldwell University students as it requires a Gmail login.
			  	<br>
			  	Technologies: Mongodb, Expressjs, Angularjs, Nodejs, Passportjs, Bootstrap
			  	</p>
			  </div>
			 
			  <div class="col-md-4">
			   <a href="https://murmuring-shelf-55535.herokuapp.com/" target="_blank">
			   <div class="box" id="box2">
		  	</div>
		  	<p class="project-title">Random Restaurant Generator</p>
		  	</a> 
		  	<br> <br>
			  	<p>
			  		A web application that uses Google Maps API and Yelp API to show pick 10 random restaurant based on user location. The search provides restaurant pictures, rating, reviews, location, direction.
			  		<br>
			  		Technologies: Angujarls, Nodejs, Google Map API, Yelp API, Bootstrap
			  	</p></div>
			  <div class="col-md-4"><div class="box">
			  	</div>
			  	<p class="project-title">Address Book</p>
			  	<br> <br>
			  	<p>A nodejs based article/blog website using Express.js framwork. Used PassportJS and BcryptJS for user authentication, Mongobd for database storage
			  		<br>
			  			Technologies: Expressjs, Nodejs, MongoDB
			  	</p></div>
			</div>

			 <a href="https://github.com/Raashul"><div class="col-md-4"><div class="box" id="box4">
			  	</div> </a>
			  	<br>
			  	<p>Follow more of my work in Github.</p></div>
			</div>

	</div>

	<hr>
</div>

<div class="contact">
	<h1>Wanna get in touch personally?</h1>
	<br>
	<h1><u><a href="mailto:rashul1996@gmail.comxw" class="email-button">Email Me!</a></u></h1>

	<div ng-if="display_email_form">
		<form class="" method="post" action="#">
			<center>
				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Your Name</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="name" ng-model="name" placeholder="Enter your Name" required="" />
						</div>
					</div>
				</div>

					<div class="form-group"> 
					  <textarea class="form-control" rows="10" name="message" ng-model="message" placeholder="Your message goes here" required=""></textarea>
					</div>

					<div class="form-group"> 
					  <button type="button" class="btn btn-default btn-lg send-email-button" ng-click="send_email(name,message)">Send</button>
					</div>
		
			</center>
				
					</form>
	</div>

</div>

<div class="footer">

	<p class="footer-text"><strong>Designed and Developed by Rashul Rajbhandari © 2017. </strong></p>
	<p class="hover_icons">
		<a href="https://github.com/Raashul" target= "_blank" class="link"><i class="fa fa-github fa-2x"></i></a>
		<a href="https://www.facebook.com/Chelsealover.Rashul" target= "_blank" class="link"><i class="fa fa-facebook-official fa-2x m-left"></i></a>
		<a href="https://www.linkedin.com/in/rashul-rajbhandari-73a678113/" target= "_blank" class="link"><i class="fa fa-linkedin fa-2x"></i></a>
		<a href="https://twitter.com/Rashul_Cfc" target= "_blank" class="link"><i class="fa fa-twitter fa-2x m-left" ></i></a>
		<a href="https://medium.com/@rashul_cfc" target= "_blank" class="link"><i class="fa fa-medium fa-2x m-left"></i></a>
	</p>


</div>

