
<video muted autoplay loop class="fullscreen-bg__video">
 <source ng-src="/app/home_video/vid.mp4" type="video/mp4">
</video>


		<!-- <div class="jumbotron-content">
	  	 <h2>Rashul Rajbhandari</h2>
				<p class="hover_icons">
					<a href="https://medium.com/@rashul_cfc" target= "_blank" class="link"><i class="fa fa-linkedin fa-2x m-left"></i></a>
					<a href="https://www.facebook.com/Chelsealover.Rashul" target= "_blank" class="link"><i class="fa fa-facebook-official fa-2x m-left"></i></a>
					<a href="https://github.com/Raashul" target= "_blank" class="link"><i class="fa fa-github fa-2x m-left"></i></a>
					<a href="https://twitter.com/Rashul_Cfc" target= "_blank" class="link"><i class="fa fa-twitter fa-2x m-left" ></i></a>
					<a href="https://medium.com/@rashul_cfc" target= "_blank" class="link"><i class="fa fa-medium fa-2x m-left"></i></a>
					<a href="https://medium.com/@rashul_cfc" target= "_blank" class="link"><i class="fa fa-linkedin fa-2x m-left"></i></a>
			</p>
		</div> -->

<hr>

<div class="main-body">
	
		<div class="introduction-div">
			<center><h2><strong>Introduction </strong><h2></center>
			<p class="intro-text">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				<br>
				<br>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				<center>
					<button type = "button" class="btn btn-default btn-lg resume-button" 
						ng-click="resume_button()">
					<i class="fa fa-file-pdf-o" aria-hidden="true"></i>  Resume
					</button>
				</center>
			</p> 

	</div>


<div class="portfolio-div"> 
	<div class="container">
			<div class="row">
				<center>
					<h2>Personal Projects </h2>
					<p class="lead">I like to keep myself busy when I'm free </p>
				</center>

				<div class="row">
			  <div class="col-md-4">
			  	<div class="box">
			  	<br> <br>
			  	</div>
			  	<p>centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recentl</p>
			  </div>
			  <div class="col-md-4"><div class="box">
			  	</div>
			  	<p>centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recentl</p></div>
			  <div class="col-md-4"><div class="box">
			  	</div>
			  	<p>centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recentl</p></div>
			</div>

			 <div class="col-md-4"><div class="box">
			  	</div>
			  	<p>Follow more of my work in Github.</p></div>
			</div>

	</div>

	<hr>
</div>

<div class="contact">
	<h1>Wanna get in touch personally?</h1>
	<br>
	<h1><u><a ng-click="show_email()">Email Me!</a></u></h1>

	<div ng-if="display_email_form">
		<form class="" method="post" action="#">
			<center>
				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Your Name</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="name" ng-model="name" placeholder="Enter your Name" required="" />
						</div>
					</div>
				</div>

					<div class="form-group"> 
					  <textarea class="form-control" rows="10" name="message" ng-model="message" placeholder="Your message goes here" required=""></textarea>
					</div>

					<div class="form-group"> 
					  <button type="button" class="btn btn-default btn-lg send-email-button" ng-click="send_email(name,message)">Send</button>
					</div>
		
			</center>
				
					</form>
	</div>

</div>

<div class="footer">

	<p class="footer-text"><strong>Designed and Developed by Rashul Rajbhandari © 2017. </strong></p>
	<p class="hover_icons">
		<a href="https://github.com/Raashul" target= "_blank" class="link"><i class="fa fa-github fa-2x"></i></a>
		<a href="https://www.facebook.com/Chelsealover.Rashul" target= "_blank" class="link"><i class="fa fa-facebook-official fa-2x m-left"></i></a>
		<a href="https://www.linkedin.com/in/rashul-rajbhandari-73a678113/" target= "_blank" class="link"><i class="fa fa-linkedin fa-2x"></i></a>
		<a href="https://twitter.com/Rashul_Cfc" target= "_blank" class="link"><i class="fa fa-twitter fa-2x m-left" ></i></a>
		<a href="https://medium.com/@rashul_cfc" target= "_blank" class="link"><i class="fa fa-medium fa-2x m-left"></i></a>
	</p>


</div>

