
<video muted autoplay loop class="fullscreen-bg__video">
 <source ng-src="/app/home_video/video.mp4" type="video/mp4">
</video>


		<!-- <div class="jumbotron-content">
	  	 <h2>Rashul Rajbhandari</h2>
				<p class="hover_icons">
					<a href="https://medium.com/@rashul_cfc" target= "_blank" class="link"><i class="fa fa-linkedin fa-2x m-left"></i></a>
					<a href="https://www.facebook.com/Chelsealover.Rashul" target= "_blank" class="link"><i class="fa fa-facebook-official fa-2x m-left"></i></a>
					<a href="https://github.com/Raashul" target= "_blank" class="link"><i class="fa fa-github fa-2x m-left"></i></a>
					<a href="https://twitter.com/Rashul_Cfc" target= "_blank" class="link"><i class="fa fa-twitter fa-2x m-left" ></i></a>
					<a href="https://medium.com/@rashul_cfc" target= "_blank" class="link"><i class="fa fa-medium fa-2x m-left"></i></a>
					<a href="https://medium.com/@rashul_cfc" target= "_blank" class="link"><i class="fa fa-linkedin fa-2x m-left"></i></a>
			</p>
		</div> -->

<hr>

<div class="main-body">


	
		<div class="introduction-div">
			<center>
				<div id="circle"></div>
				<h3 class="intro-text"><a href="https://twitter.com/Rashul_Cfc/status/507176268232544256" target="_blank">"Whoever you are, wherever you are, you only have to know one thing: <b> #YouCanLearnAnything </b>"</a></h3>
			</center>
			<hr>

			<h3><b>Me, myself and I.</b></h3>
				<br> <br>
			<p class="main-text">
				I am an International sophomore at <a href="https://www.caldwell.edu/" id= "school"target="blank"> Caldwell University </a> majoring in Computer Information System and minor in Mathmatics. I took my first step in the United States at <a href="https://twitter.com/Rashul_Cfc/status/759975790205206528" target="_blank"><u>August 8, 2015.</u></a> 
				<br> <br>

				One of my main goals in life is to make a create things that brings joy to people. I love challenges, and I love to learn my mistakes from them. I strongly believe in the ability of an individual to change the world with their <b> mind </b> and their <b> heart</b>
				<br> <br>

				Life Mantra- <b>If you are not working hard. There is someone else in the room who is. And he is already one step ahead of you</b>
				<br> <br>

				This year, I learnt using Javascript on front end and back end. Here are some  <a href="https://github.com/Raashul" class="github-link" target="_blank"><u>projects</u></a> I worked on. My goals for this year is to learn Machine Learning and Bot Chat Systems.
				<br>
				<br>
				I am a <a href="https://twitter.com/Rashul_Cfc/status/510119023703764992" target="_blank"> <u>foodie</u> </a>and an avid <a href="https://www.facebook.com/photo.php?fbid=10203035141227118&set=a.10200573987979825.1073741826.1462747671&type=3&theater" target="_blank"><u>Chelsea FC supporter.</u> </a>
				<center>
				<a ng-href="app/pdf/RashulRajbhandari.pdf" target="_blank" class="btn btn-default btn-lg resume-button">	<i class="fa fa-file-pdf-o" aria-hidden="true"></i> Resume</a>


				</center>
			</p> 

			<hr>

			<center>
			<div class="gallery cf">
			  
			  <div>
			    <img src="/app/images/img2.JPG" />
			  </div>
			  <div>
			    <img src="/app/images/img3.JPG" />
			  </div>
			  <div>
			    <img src="/app/images/img1.JPG" />
			  </div>
			  <div>
			    <img src="/app/images/img4.jpg" />
			  </div>

			  <a href="https://www.instagram.com/raashul_rajbhandari/" class="instagram_title" target="_blank"><h2 >Follow my life one picture at a time on  <i class="fa fa-instagram fa-1x" aria-hidden="true"></i> </h2> </a>
			  
			</div>

			</center>

	</div>


<div class="portfolio-div"> 
	<div class="container">
		<center>
			<h2>Personal Projects </h2>
			<br>
			<h4 class="project-intro-text">I like to write code that makes people's life less buggy</h4>
		</center>
		<br>

		<div class="row">
			<p class="lead"><a href="https://github.com/Raashul/Bookstore" target="_blank" class="project-title"><u>Personal Bookstore</u></a></p>
		  <div class="col-12 col-md-6">
		  	<div class="box" id="box1"> </div>
	  	</div>
		  <div class="col-6 col-md-6">
		  	<p class="project-text">A web application that provides a platform to sell/buy books for students that are in the same school. This project initially targetted only Caldwell University students as it requires a Gmail login.
		  <br> <br>
		  	Technologies: Mongodb, Expressjs, Angularjs, Nodejs, Passportjs, Bootstrap 
	  	</p>
	  	</div>
		</div>
		<br> <br>
		<hr>
		<div class="row">
			<p class="lead"> <a href="https://murmuring-shelf-55535.herokuapp.com/" class="project-title" target="_blank"><u>Random Restaurant Generator</u></a></p>
		  <div class="col-12 col-md-6">
		  	
		  	<div class="box" id="box2">
	  	</div></div>	
		  <div class="col-6 col-md-6">
		 	 <p class="project-text">  A basic web application which uses google map api and yelp api to search nearby restaurants nearby (radius of 10 mile), then randomly select one restaurant. The search provides data such as pictures, rating, reviews, location, direction.
	  	<br> <br>
	  		Technologies: AngularJS, Node.js, Google Map API, Yelp API, Bootstrap 
	  	</p>
	  	</div>
		</div>
		<br> <br>
		<hr>

		<div class="row">
			<p class="lead"> <a href="https://github.com/Raashul/NodeJsBlogSite-" class="project-title" target="_blank"><u>Online Address Book</u></a></p>
		  <div class="col-12 col-md-6"><div class="box" id="box3">
	  	</div></div>
		  <div class="col-6 col-md-6">
		  	<p class="project-text">Super simple boilerplate project that uses Angularjs, Nodejs, and MongoDB as an exercise to practice CRUD cycle with MEAN Stack.
	  		<br> <br>
	  			Technologies: AngularJS,Node.js, MongoDB 
	  		</p>
	  	</div>
		</div>

		<hr>
		<center>
		<p class="lead"><a href="https://github.com/Raashul" target="_blank" class="more-github-link">More</a></p>
	</center>
		<br> <br>
	
	

	<!-- 	<div class="row">
		<p class="lead"> <a href="https://github.com/Raashul/NodeJsBlogSite-" class="project-title" target="_blank">Blog Site with Nodejs, ExpressJS and MongoDB</a></p>
		  <div class="col-12 col-md-6"><div class="box" id="box4">
	  	</div></div>
		  <div class="col-6 col-md-6">
		  	<p class="project-text">A nodejs based article/blog website using Express.js framwork. Used PassportJS and BcryptJS for user authentication, Mongobd for database storage
	  		<br>
	  			Technologies: Expressjs, Nodejs, MongoDB
	  		</p>
	  	</div>
		</div>

		<hr>
		<br> <br>
 -->
<!-- 			 <a href="https://github.com/Raashul">
			 <div class="col-md-4"><div class="box" id="box4">
			  	</div> </a>
			  	<br>
			  	<p>Follow more of my work in Github.</p></div> -->
		

	</div>

	<hr>
</div>

<div class="contact">
	<h1>Wanna get in touch personally?</h1>
	<br>
	<h1><u><a href="mailto:rashul1996@gmail.comxw" class="email-button">Email Me!</a></u></h1>

	<div ng-if="display_email_form">
		<form class="" method="post" action="#">
			<center>
				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Your Name</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="name" ng-model="name" placeholder="Enter your Name" required="" />
						</div>
					</div>
				</div>

					<div class="form-group"> 
					  <textarea class="form-control" rows="10" name="message" ng-model="message" placeholder="Your message goes here" required=""></textarea>
					</div>

					<div class="form-group"> 
					  <button type="button" class="btn btn-default btn-lg send-email-button" ng-click="send_email(name,message)">Send</button>
					</div>
		
			</center>
				
					</form>
	</div>

</div>

<div class="footer">

	<p class="footer-text"><strong>Designed and Developed by Rashul Rajbhandari © 2017. </strong></p>
	<p class="hover_icons">
		<a href="https://github.com/Raashul" target= "_blank" class="link"><i class="fa fa-github fa-2x"></i></a>
		<a href="https://www.facebook.com/Chelsealover.Rashul" target= "_blank" class="link"><i class="fa fa-facebook-official fa-2x m-left"></i></a>
		<a href="https://www.linkedin.com/in/rashul-rajbhandari-73a678113/" target= "_blank" class="link"><i class="fa fa-linkedin fa-2x"></i></a>
		<a href="https://twitter.com/Rashul_Cfc" target= "_blank" class="link"><i class="fa fa-twitter fa-2x m-left" ></i></a>
		<a href="https://medium.com/@rashul_cfc" target= "_blank" class="link"><i class="fa fa-medium fa-2x m-left"></i></a>
	</p>


</div>

